body{
    background-color: beige; color: brown;
 }
 h1{
     color: blue; font-style: italic;
     text-align: center;
 }
 .secondDiv{
     background-color: rgb(0, 0, 0);
     align-items: center;
     justify-content: center;
     display: flex ;
 }
 button{
     margin: 5px ;
     padding: 5px 10px;
     margin-top: 12px ;
     margin-right: 12px;
     margin-left: 14px;
     margin-bottom: 201px;
     cursor: pointer;
     border: 3px rgb(183, 47, 47);
     
 }
 button:hover{
      background-color: blue; 
     color: azure;
 }